$font_path: '~@/assets/fonts/';
// PartFontIcon Variables
$icomoon-font-family: 'font-FontIcon' !default;
$icomoon-font-path: '~@/assets/fonts/fonticon' !default;

$primary: #FFD214;
$primary-light: #eef7ff;
$primary-dark: #062870;

$secondary: #FFD214;
$secondary-light: #228ced;
$secondary-dark: #228ced;
