.summary {
  &-content {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    @include breakpoint(medium) {
      flex-direction: row;
      margin: 40px 0;
    }
  }

  &-box {
    display: flex;
    min-width: 100%;
    flex: 100%;
    justify-content: center;
    padding: 15px;
    justify-content: space-evenly;
    background: #f5f5f5;
    gap: 30px;
    align-items: center;

    @include breakpoint(xsmall) {
      min-width: 47%;
      flex: 44%;
    }
    @include breakpoint(large) {
      min-width: 31.33%;
      flex: 1;
    }

    i {
      font-size: 2.2rem;
      width: 55px;
      height: 55px;
      background: #fff;
      color: #607d8b;
      border-radius: 50px;
      @include breakpoint(medium) {
        margin-left: 20px;
        font-size: 2.5rem;
      }
    }

    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      span {
        &:first-child {
          font-size: 30px;
          font-weight: 900;
          display: inline-block;
          color: #1a9520;
        }
        &:last-child {
          font-size: 1.1rem;
          margin-right: 5px;
          display: inline-block;
          font-weight: 700;
          color: #000;
        }
      }
    }

    p {
      font-size: 0.7rem;
      text-align: center;
      background: #fff;
      width: 126px;
      border-radius: 50px;
      color: #607d8b;
      font-weight: 600;
      padding: 3px 10px;
      margin: 22px 0 11px;
      border: 2px solid #607d8b;
      cursor: pointer;
      &:hover {
        background: #607d8b;
        color: #fff;
      }
    }
  }
}
.profile {
  padding: 0 6%;
  gap: 1%;
  display: flex;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
  }
  @include breakpoint(xultra) {
    padding: 0 16%;
  }

  &-panel {
    flex: 25%;
    max-width: 25%;
    display: none;

    @include breakpoint(medium) {
      display: block;
    }

    &-show-mobile {
      display: block;

      @include breakpoint(medium) {
        display: none;
      }

      span {
        color: #fff;
      }
    }
  }

  .show-mobile-nav {
    z-index: 1000;
    display: block;
    padding: 0 0;
    width: 100%;
    margin: auto;
    border: 0;

    @include breakpoint(medium) {
      display: none;
    }
  }

  ::v-deep {
    .v-item--active {
      .v-list-item__title {
        font-weight: 900;
      }
    }
    .v-navigation-drawer {
      width: 66% !important;
      @include breakpoint(medium) {
        width: 100% !important;
      }
    }

    .v-navigation-drawer__border {
      display: none;
    }

    .v-list-item--link:before {
      background-color: inherit !important;
    }
    .v-list-item {
      &__subtitle {
        padding: 5px 0 0;
      }
    }

    .v-list-item--active {
      background-color: inherit !important;

      &:before {
        content: '';
        background-color: #1a9520 !important;
        width: 3px;
        height: 100%;
        right: -8px;
        opacity: 1;
      }
    }
  }

  &-content {
    flex: 100%;
    max-width: 100%;

    @include breakpoint(medium) {
      flex: 75%;
      max-width: 79%;
    }

    .d-block {
      span {
        font-size: 0.8rem;
        color: rgb(26 149 32) !important;
        a {
          color: #ff9800;
          font-weight: 600;
          padding: 3px 5px;
        }
      }

      i {
        color: rgb(26 149 32) !important;
      }
    }

    .content {
      padding: 25px 20px;
    }
  }
}

.userName {
  font-family: 'IRANYekanBold' !important;
  font-size: 0.8rem !important;
  margin: 0 0 6px;
}

.phone-number {
  font-size: 0.75rem !important;
  margin: 4px 0 0;
}

.edit {
  position: absolute;
  left: 20px;
  top: 20px;
  color: rgb(26 149 32) !important;
}

.silver {
  background: #f5f5f5;

  .userName {
    font-size: 14px !important;
    margin: 0;
  }
}
