
.profile{
  background: #fff;
  padding: 0 5%;


  &-block{
    display: flex;
    gap: 50px;
    padding: 5% 0 40px;
    background: #fff;
    flex-direction: column;


    @include breakpoint(small) {
      padding: 4% 0 ;
    }

    @include breakpoint(medium) {
      padding: 5% 0% ;
      flex-direction: row;
    }
    @include breakpoint(xultra) {
      padding: 5% 10% ;
    }


    &__info{
      border: 1px solid #ccc;
      border-radius: 15px;
      flex: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 30px;
      height: 715px;
      @include breakpoint(medium) {
        flex: 40%;
        min-width: 40%;
        max-width: 40%;
      }
    }
    &__content{
      border-radius: 15px;
      flex: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
      @include breakpoint(medium) {
        flex: 60%;
        min-width: 60%;
        max-width: 60%;
        padding: 50px 0;

      }
      .profile-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 25px;
        @include breakpoint(medium) {
          justify-content: space-between;
        }

        h2{
          font-size: 20px;
          color: #F15A24;
        }
        i{
          cursor: pointer;
        }
      }
    }
  }
}
.latest-font-block{
  .box{
    margin-bottom: 30px;
  }
}
::v-deep{
  .v-btn.primary{
    width: 82px;
    font-size: 12px !important;
    min-height: 30px;
    max-height: 30px;
    .v-progress-circular{
      margin: 0;
    }
    .v-progress-circular__overlay{
      stroke: #fff;
    }
  }
  .v-progress-circular{
    margin: auto;
    display: block;
    margin-top: 148px;
  }
  .text-start{
    text-align: center !important;
  }
  .v-data-table{
    box-shadow: none!important;
  }
  .v-data-table > .v-data-table__wrapper > table {
    border: 1px solid #e3e3e3;
    tbody > tr {
      cursor: pointer !important;
      position: relative;
    }
    tbody > tr > td {
      text-align: center !important;
    }

    thead > tr > th {
      text-align: center !important;
      background: #aae73e;
    }
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr:nth-child(even) {
    background-color: white;
  }
  .expandable-row {
    cursor: pointer;
  }
  .expandable-row:hover {
    background-color: rgba(0,0,0,0.05);
  }
  .v-data-table__expanded__content{
    box-shadow: none!important;
  }
  .list-detail{
    display: flex;
    padding:10px 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-right: 83px;
  &:last-child{
    border-bottom: 0
  }

    li{
      flex: 33.33%;
      max-width: 33.33%;
      text-align: right;
      &:last-child{
        text-align: left;
      }
      b{
        margin-right: 10px;
        font-weight: bold;
        color: #3A3A3A;
      }
    }
  }
}

