
.profile{
  background: #fff;
  padding: 0 5%;


    &-block{
      display: flex;
      gap: 10px;
      padding: 5% 0 40px;
      background: #fff;
      flex-direction: column;


      @include breakpoint(small) {
        padding: 4% 0 ;
      }

      @include breakpoint(medium) {
        padding: 5% 0% ;
        flex-direction: row;
        gap: 50px;
      }
      @include breakpoint(xultra) {
        padding: 5% 10% ;
      }


      &__info{
        border-radius: 15px;
        flex: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        height: 715px;
        @include breakpoint(medium) {
          flex: 40%;
          min-width: 40%;
          max-width: 40%;
          border: 1px solid #ccc;
          padding: 30px;
        }
      }
      &__content{
        border-radius: 15px;
        flex: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        @include breakpoint(medium) {
          flex: 60%;
          min-width: 60%;
          max-width: 60%;
          padding: 50px 0;

        }
      .profile-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 25px;
        @include breakpoint(medium) {
          justify-content: space-between;
        }

        h2{
          font-size: 20px;
          color: #F15A24;
        }
        i{
          cursor: pointer;
        }
      }
    }
  }
}
.latest-font-block{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .box{
    margin-bottom: 30px;
    flex: 100%;
    max-width: 100%;
    @include breakpoint(medium) {
      flex: 50%;
      max-width: 49%;
    }
  }
}
::v-deep {
  .v-progress-circular {
    margin: auto;
    display: block;
    margin-top: 148px;
  }
}

.not-pro{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  width: 100%;
  margin: 60px auto 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  span{
    font-weight: 800;
    color: #ff7a00 !important;
    margin-top: 15px;
    text-align: center;
  }
  img{
    width: 120px;
  }
}
