.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:1rem 0 1rem 26px;
  background-color: #ffffff;
  color: #000;
  width: 100%;
  height: 87px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 15px;
  margin-top: 25px;


  // Brand styling
  &-brand {
    font-size: 1.5rem;
    font-weight: bold;
    img{
      width: auto;
    }
  }

  // Links container
  &-links {
    display: flex;
    gap: 0;
    transition: all 0.3s ease;

    &:hover{
      color: #FF7A00;
      transition: all 0.3s ease;

    }
  }

  // Link styling
  &-link {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .navbar-links{
    display: none;
    @include breakpoint(large) {

      display: flex;
      width: 100%;
    }
  }

  .navbar-brand{

    margin-left: 40px;
  }
  .navbar-action{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    @include breakpoint(large) {
      gap: 25px;
      margin-right: auto;
      justify-content: flex-end;
      width: 300px;
    }
    .search{
      cursor: pointer;
      margin-left: 5px;
      display: flex;
      align-items: center;

    }
    .signIn{
      display: flex;
      gap: 7px;
      align-items: center;

      span{
        width: 115px;
        text-align: center;
        cursor: pointer;
        margin-right: 7px;
        height: 20px;
        position: relative;
        top: -3px;
        &:hover{
          color: #FF7A00 ;
        }
        hr{
          border-color: #ff7a00;
          border-width: 1px;
          margin: 0 5px;
        }

      }
      .mobile{
        display: block;
        @include breakpoint(large) {
       display: none;
        }
      }


    }
    .cart{
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      .isFill{
        width: 10px;
        height: 10px;
        background: #FF7A00;
        border-radius: 50px;
        position: absolute;
        right: -5px;
        top: 20px;
      }
    }
  }
}
.logo-mobile{
  width: auto;
  height: 22px;
  overflow: hidden;
  text-align: center;
  display: inline;
  margin: auto;
  @include breakpoint(large) {
    display: none;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.mobileNav{
  display: none;
}
.navbar-brand{
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}
.navigation-mobile{
  display: block;
  @include breakpoint(large) {
    display: none;
  }
}
.search-box{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #00000091;
  display: none;
  &.showSearch{
    display: block;
  }
  .v-icon{
    font-size: 40px;
    color: #fff;
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
  }
}
.searchBlock{
  position: absolute;
  top: 50%;
  z-index: 1000;
  right: 50%;
  transform: translate(50%, 50%);
  width:89%;
  @include breakpoint(large) {
    width: 650px;
  }
}
.expanding-search {
  transition: max-width 0.3s ease-in-out;
  background: rgb(255 255 255)!important;
  padding: 0!important;
  .v-input__slot{
    background: rgb(255 255 255)!important;
    .v-icon{
      font-size: 27px;
      position: relative;
      top: 4px;
    }

  }


}
.head{
  justify-content: space-between;
  .logo{
    img{
      width: 150px;
      margin: 16px auto;
    }
  }
}
::v-deep{
  .expanding-search:not(.closed) {
    max-width:100%;
    margin: 0 !important;
    padding: 0 !important;
    height: 40px;
    .v-input__slot{
      background: rgb(255 255 255)!important;
    }
  }

  .expanding-search.closed {
    max-width: 100%;
    padding: 0 12px !important;
  }
  .latest-child{
    padding: 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row-reverse;
    background: #efefef;
  }
  .list-parent {
    border-bottom: 1px solid #ccc;
    &.hasChild{
      padding: 0;
    }
    &:last-child {
      border: 0;
    }
  }
  .v-list-item--link{
    &:before{
      background: #fff;
    }
  }
  .v-list-group__header{
    display: flex;
    justify-content: flex-end;
  }
  .v-list-item__icon{
    position: relative;
    top: -8px;
  }
  .category-text{
    position: absolute;

  }
  .parent-link{
    padding: 0;

  }
  .v-list-group--sub-group{
    .v-list-group__header{
      padding: 0 15px 0 4px;
      border-top: 1px solid #ccc;
      display: flex;
      flex-direction: row-reverse;

      .v-list-item{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 20px 0 2px;
      }
    }
  }
  .v-text-field--filled > .v-input__control > .v-input__slot {
    background:#fff!important;
    padding: 0 10px!important;
    border: 1px solid #646464;
    min-height: 50px!important;
    height: 50px!important;
    border-radius: 10px;

  }
  .v-icon{
    font-size: 27px;
    position: relative;
    top: 4px;
  }
  .v-text-field__slot{
    padding: 0 15px!important;
  }

}




// Mobile responsiveness
@media (max-width: 1200px) {
  .navbar-brand {
    img{
      width: 215px;
    }
  }
  .signIn {
    margin: 0 15px;
    span {

      display: none;
    }
  }
.navbar-brand {
    margin: -9px 0;
  }
  .navbar {
    gap: 1rem;
    padding: 0 15px;
    &-links {
      flex-direction: column;
      align-items: center;
    }

    &-link {
      width: 100%;
      justify-content: center;
    }
    .mobileNav{
      display: inline;
      i{
        font-size: 35px;
        top: 0;
      }
    }
  }
}
i {
  &:hover {
    color: #FF7A00  !important;

    &:before {
      color: #FF7A00  !important;
    }
  }
}
