header {
  width: 100%;
  position: relative;
  z-index: 100;
  height: 130px !important;

  @include breakpoint(large) {
    height: 110px !important;
  }
  @include breakpoint(ultra) {
    height: 110px !important;
  }
}

.label {
  padding: 0 0 15px;
  margin: 0 auto 15px;
  color: #1a9520;
  background: #f5f5f5;
  line-height: 35px;
  height: 40px;
  border-radius: 100px;
  width: 80%;
  font-size: 14px;
  border: 2px solid #607d8b2e;
  letter-spacing: 0;
  font-weight: 600;

  &:nth-child(2) {
    padding: 4px 0 0;
    color: #fff;
    line-height: 33px;
    background: #1a9520;
    font-weight: 900;
    ::v-deep {
      .small {
        top: 1px;
      }
    }
  }
}

::v-deep {
  .v-list-item {
    min-height: 37px;
  }

  .v-list-item .v-list-item__title,
  .v-list-item .v-list-item__subtitle {
    font-size: 13px;
  }

  .v-list-item__icon {
    margin: 11px 0 0;
    margin-left: 3px;
  }

  .box-header {
    border-bottom: 1px solid #666 !important;
    padding: 0px !important;

    @include breakpoint(large) {
      padding: 0 3% !important;
    }

    .v-toolbar__content {
      margin: 0 !important;
    }
  }
}

.search-header {
  margin: 16px 0 !important;
  width: 85%;
  border: solid 2px #607d8b;
  border-radius: 6px;

  @include breakpoint(small) {
    margin: 16px 12px !important;
    width: 70%;
  }

  @include breakpoint(medium) {
    margin: 0 16px !important;
    width: 46%;
  }

  ::v-deep {
    input {
      transition-duration: 0.5s;
      height: 40px !important;
      min-height: 40px !important;
      margin-top: 0;
      font-size: 14px;
      color: #607d8b !important;
      width: 100%;
      padding: 0 18px;
      padding-right: 33px;
      @include breakpoint(small) {
        padding-right: 43px;
      }
      &::placeholder {
        color: #607d8b !important;
        font-size: 16px;
      }
    }

    .v-progress-linear,
    .v-progress-linear * {
      height: 2px !important;
      min-height: 2px !important;
    }

    .v-label {
      top: 9px !important;
      font-size: 15px !important;
    }

    .v-autocomplete__content .v-list__tile {
      height: auto;
    }

    .v-input__slot {
      background: inherit !important;
    }
  }
}

.greenBar {
  background: #1a9520;
  height: 40px;
  line-height: 40px;
  // background: var(--v-primary-base);
  width: 100%;
  transition-duration: 0.5s;

  .phoneNumber {
    display: flex;
    gap: 16px;
    justify-content: center;
    color: #fff;

    a {
      direction: ltr;
      color: #fff !important;
      letter-spacing: 2px;
    }
  }
}

.topHeader {
  width: 100%;
  align-items: center;

  @include breakpoint(small) {
    gap: 10px;
    padding: 4px 0;
  }
  @include breakpoint(large) {
    margin: 0;
    padding: 4px 25px;
  }

  a {
    display: none;
    transition-duration: 0.5s;
    justify-content: center;
    @include breakpoint(small) {
      justify-content: flex-end;
    }

    img {
      width: 100%;
      margin: auto;
    }

    @include breakpoint(large) {
      display: block;
    }
  }

  .login {
    gap: 10px;

    span {
      display: none;
      cursor: pointer;

      @include breakpoint(xsmall) {
        font-size: 14px;
        display: block;
      }

      @include breakpoint(large) {
        font-size: 16px;
      }
    }

    i {
      font-size: 24px !important;
      margin: 13px;
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }
}

.bottomHeader {
  display: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  margin: 5px 0 0;
  border-top: 1px solid #dbdbdb;

  @include breakpoint(large) {
    display: block;
  }

  &-text {
    v-list-tile-content {
      font-size: 0.9rem;
      margin: 0 10px;
      color: #666;
      cursor: pointer;
    }
  }
}

.cart {
  @include breakpoint(large) {
    margin-right: 10px;
  }

  i {
    font-size: 1.8rem !important;

    @include breakpoint(large) {
      margin-right: 5px;
    }
  }
}

hr {
  height: 28px;
  margin: 2px 5px;
  border-color: rgb(221 221 221);
  display: none;

  @include breakpoint(large) {
    display: inline;
  }
}

.dividerNavbar {
  margin: 0;
  display: inline-block;
}

::v-deep {
  .v-toolbar__content {
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 59px;
    height: 130px !important;

    @include breakpoint(large) {
      height: 110px !important;
    }
  }
}

.menu-account {
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 0;
  top: 10px;

  @include breakpoint(small) {
    left: 3%;
    gap: 30px;
  }

  @include breakpoint(medium) {
    position: static;
    gap: 15px;
    margin-left: 20px;
  }

  @include breakpoint(large) {
    margin-left: 0;
  }

  .login {
    span {
      display: none;

      @include breakpoint(medium) {
        display: inline-block;
      }
    }
  }

  hr {
    margin: 13px 5px 0;
  }
}
.mobile-account {
  position: absolute;
  top: 60px;
  left: 7px;
  width: auto;

  @include breakpoint(small) {
    top: 60px;
    left: 10%;
  }
  @include breakpoint(medium) {
    position: relative;
    top: 0;
    left: 0;
  }
  @include breakpoint(xultra) {
    top: 0;
    position: relative;
    left: 0;
  }
}
.mobileBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0 0;
  align-items: center;

  @include breakpoint(small) {
    padding: 8px 3% 0;
  }

  @include breakpoint(large) {
    display: none;
  }

  .menu-mobile {
    display: block;
    width: 54px;

    @include breakpoint(medium) {
      display: none;
    }
  }
}

.vsm-menu {
  margin: 10px;

  ul {
    max-width: 1024px;
    margin: 0 auto;
  }
}

// Let's simplify the work with menu items (logo, menu, buttons, etc)
.vsm-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Move all the content to the right and reduce the logo
.logo-section {
  flex: 1 1 auto;

  img {
    user-select: none;
    max-width: 40px;
  }
}

// All menu items (element props: a, button, span, etc) are
// made the same in style
.vsm-section_menu {
  > * {
    padding: 0 25px;
    font-weight: 500;
    font-family: inherit;
  }
}

// Styles for Dropdown Content:
.wrap-content {
  padding: 30px;
  // Set the width manually so that it does not depend
  // on changing content
  width: 400px;
}

.wrap-content__block {
  font-weight: bold;
}

.wrap-content__item {
  font-style: italic;
  font-size: 0.8rem;
}

.navigation-mobile {
  z-index: 1000;
  height: 100% !important;
  display: block;

  @include breakpoint(large) {
    display: none;
  }
  .head {
    justify-content: space-between;
  }
}

.head-divider {
  border-color: #ddd !important;
  display: block;
}

.cart-drop {
  background: #f5f5f5;

  &--action {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;

    button {
      flex: 50%;
      flex: 50%;
    }
  }

  &--subject {
    display: flex;
    justify-content: space-between;
    padding: 5px 26px;
    align-items: center;

    .text {
      font-size: 1rem;
    }

    .total {
      display: flex;
      padding: 15px 0;

      &-text {
        margin: 0 10px;
        font-size: 0.9rem;
      }

      p {
        font-size: 0.9rem;

        span {
          font-size: 0.9rem;
        }
      }
    }
  }

  &--content {
    padding: 10px 0 43px;
    display: inline-block;
    width: 100%;
    flex: unset;
    height: 60vh;
    overflow-y: scroll;

    &__list {
      border-bottom: 1px solid #1b9520;
      border-radius: 16px;
      padding: 15px 13px;
      display: block;
      width: 95%;
      margin: 0 auto 5px;
      transition-duration: 0.5ms;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px -4px #000;
        transition-duration: 0.5ms;
      }

      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        gap: 13px;

        &:last-child {
          margin-bottom: 10px;
        }

        .pic {
          flex: 37%;
          max-width: 36%;
          height: 77px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .name {
          font-size: 0.9rem;
          line-height: 26px;
          color: #5a5a5a;
          flex: 74%;
          max-width: 74%;
        }

        .offer {
          text-align: center;
          flex: 37%;
          max-width: 36%;
          line-height: 30px;
          display: flex;
          align-items: center;
          color: #1b9520;
          justify-content: center;
        }

        .info-pro {
          line-height: 40px;
          font-size: 0.8rem;
          display: flex;
          flex-wrap: wrap;
          flex: 74%;
          max-width: 74%;
          padding: 20px 6px 26px;

          li {
            flex: 50%;
            max-width: 50%;
          }

          i {
            color: #1b9520;
          }

          span {
            color: rgb(95, 95, 95);
          }
        }

        .count {
          text-align: center;

          .number-input {
            display: flex;
            width: 120px;
            height: 30px;
            justify-content: space-between;
            border: 1px solid #dbdbdb;
            line-height: 30px;
            border-radius: 10px;

            &__input {
              -moz-appearance: textfield;
              background-color: #fff;
              border: 1px solid #000;
              border-radius: 10px;
            }

            button {
              width: 30px;
              height: 30px;
              text-align: center;
              color: #1a9520;
              font-size: 20px;
            }

            .quantity {
              text-align: center;
              font-size: 17px;
              color: #1a9520;
            }
          }
        }

        .pricing {
          display: flex;
          flex-direction: column;
          margin-right: auto;

          .discount {
            font-size: 0.9rem;
            color: #1b9520;
            text-align: left;
            position: relative;
            top: -5px;
            width: 100%;
            display: block;
          }

          .price {
            font-size: 1rem;
            text-align: center;
            color: #3b3d3e;
            margin: 0 0 13px;
          }
        }
      }
    }
  }
}

.count-cart {
  width: 23px;
  height: 23px;
  background: #1a9520;
  border-radius: 50px;
  font-size: 13px;
  color: #fff;
  position: absolute;
  left: 37px;
  top: 10px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  @include breakpoint(medium) {
    padding: 0 0 0 2px;
  }
}

.onScrollContent {
  .headerMain {
    height: 135px !important;

    @include breakpoint(large) {
      height: 110px !important;
    }

    ::v-deep {
      .v-toolbar__content {
        height: 110px !important;
        border: 0;
      }
    }
  }

  & * {
    transition-duration: 0.5s;
  }

  .greenBar {
    margin-top: -33px;
  }

  .topHeader {
    margin: 4px 32px 0 0;

    a {
      // width: auto;

      img {
        width: 100%;
      }
    }

    .login {
      span {
        font-size: 14px !important;
      }
    }

    .v-menu {
      .v-icon {
        height: 22px;
        font-size: 22px;
      }
    }

    .count-cart {
      width: 25px;
      height: 25px;
      left: 40px;
      top: 5px;

      @include breakpoint(small) {
        top: 10px;
      }
    }
  }

  ::v-deep {
    .search-header input {
      font-size: 12px !important;
    }
  }
}

.v-overlay {
  left: 0 !important;
}

::v-deep {
  .autocomplete-input {
    border-radius: 8px;
    width: 100%;
    padding: 12px 12px 12px 48px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    flex: 1;
    background-color: #fff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 99%;
  }
  .autocomplete-input:focus,
  .autocomplete-input[aria-expanded='true'] {
    background-color: #fff;
 
  }


  .autocomplete[data-loading='true']:after {
    content: '';
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.48);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s linear infinite;
  }
  .autocomplete-result-list {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
    box-sizing: border-box;
    max-height: 296px;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  }
  [data-position='below'] .autocomplete-result-list {
    margin-top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    padding-bottom: 8px;
  }
  [data-position='above'] .autocomplete-result-list {
    margin-bottom: -1px;
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
    padding-top: 8px;
  }
  .autocomplete-result {
    cursor: default;
    padding: 12px 12px 12px 48px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 12px;
  }
  .autocomplete-result:hover,
  .autocomplete-result[aria-selected='true'] {
    background-color: rgba(0, 0, 0, 0.06);
  }
  @keyframes rotate {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(359deg);
    }
  }
  .autocomplete-result-list {
    background: #fff;
    height: 350px;
    overflow-y: scroll;
    border-radius: 0 0 5px 5px;
    margin: 2px 0 0;
    padding: 0;
    box-shadow: 0px 4px 6px -4px #000;
  }

  .autocomplete-result {
    display: flex;
    border-top: 1px solid #eee;
    padding: 8px;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    align-items: center;
    gap: 15px;
    &:hover {
      background-color: #f5f5f5;
    }
    .result-pic {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      padding: 3px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .result-name {
      b {
        display: block;
        font-size: 12px;
      }
    }
  }

  .group {
    padding: 16px;
    text-transform: uppercase;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.06);
  }

  .wiki-title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }

  .v-list-item__icon {
    border-right: 1px solid #ccc;
    padding: 0;
    margin: 0 !important;
    min-width: 30px !important;
    height: 40px !important;
  }
  .list-parent {
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: 0;
    }
  }
  .top-level-list {
    .v-list-group__header {
      padding: 0 20px !important;
      margin: 0 !important;
      padding-left: 8px !important;
    }
    .parent-link {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .v-list-group--sub-group {
    .v-list-group__header,
    .latest-child {
      border-top: 1px solid #ccc;
    }
  }
  .v-list-item__icon {
    order: 2;
    justify-content: flex-end;
  }
  .v-overlay {
    left: 0 !important;
  }
}

.v-menu__content {
  z-index: 100000 !important;
  left: 0 !important;
  margin-top: 15px;

  @include breakpoint(small) {
    left: 39px !important;
  }
}

.text-caption {
  font-family: 'iransans' !important;
}

.trash-icon:hover {
  i {
    transition-duration: 0.5s;
    color: #f44336;
  }
}

.cartList {
  position: absolute;
  left: 18px;
  top: 70px;
  width: 425px;
  z-index: 100;
}
.activate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  .text-caption {
    b {
      &:last-child {
        background-color: #efefef;
        margin: -2px 6px;
        color: #607d8b;
        padding: 2px 7px;
        border-radius: 4px;
        font-size: 10px;
      }
    }
  }
}
.rate {
  margin-right: auto;

  ::v-deep {
    .v-rating {
      direction: ltr !important;
      .v-icon {
        padding: 0;
        font-size: 1.1rem !important;
      }
    }
  }
}
.showNewVersion {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffc86b;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 100;
  font-weight: 800;
  cursor: pointer;
  transform: translate(0, 400px);
  transition-duration: 0.5s;
  &.show {
    transform: translate(0, 0);
    transition-duration: 0.5s;
  }
}
.attr-color {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
  padding: 1px 5px;
  font-weight: 800;
  color: #607d8a;
}

.hint{
  color: #ffffff;
  background: #FF5722;
  border-radius: 10px;
  padding: 12px 10px;
  font-size: 10px;
  text-align: center;
  width: 95%;
  margin: 15px auto 10px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  @include breakpoint(small) {
    font-size: 12px;
  }
}
.hintInProcess{
  color: #ffffff;
  background: #FF9800;
  border-radius: 10px;
  padding: 12px 10px;
  font-size: 10px;
  text-align: center;
  width: 95%;
  margin: 15px auto 10px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  @include breakpoint(small) {
    font-size: 12px;
  }
}