.footer {
border-top: 25px solid #EEEEEE;
  &-top {
    display: flex;
    padding: 45px 3%;
    flex-wrap: wrap;
    gap: 25px 0;
    position: relative;
    overflow: hidden;
    .logos{
      margin: auto;
      img{
        width: 261px;
        margin: auto;
        @include breakpoint(small) {
          width: 450px;
        }
      }
    }


    //
    //@include breakpoint(ultra) {
    //  padding: 80px 1%;
    //}
    //@include breakpoint(xultra) {
    //  padding: 80px 3%;
    //}




  }

  &-bottom {
    display: flex;
    background-color: #fff;
    padding: 40px 8%;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;

    @include breakpoint(small) {

      flex-direction: column;
    }
    @include breakpoint(large) {

      flex-direction: row;
    }

    &-info {
      max-width: 100%;
      flex: 100%;
      background: inherit !important;
      display: flex;
      order:3;
      margin-bottom: auto;

      flex-direction: column;
      justify-content: center;
      @include breakpoint(small) {
        max-width: 100%;
        flex: 100%;
        margin: 0;

        order: 1;
      }

      @include breakpoint(ultra) {
        max-width: 35.333%;
        flex: 35.333%;
        margin-right: 0%;
        margin-bottom: auto;


      }
      h1{
        font-size: 20px;
      }
      p{
        text-align: justify;
        margin-top: 20px;
        line-height: 33px;
      }
    }

    &-link {
      max-width: 100%;
      flex: 100%;
      background: inherit !important;
      order: 2;
      display: flex;
      position: relative;
      margin:  0;
      @include breakpoint(small) {
        max-width: 100%;
        flex: 100%;
        order: 2;
        margin:  0;

      }

      @include breakpoint(ultra) {
        max-width: 17.333%;
        flex: 17.333%;
        order: 1;
        margin-right: 0%;

      }
      .nav-menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 35px;
        flex-wrap: wrap;
        align-content: flex-start;
        @include breakpoint(small) {
          flex-wrap: nowrap;
          gap: 0;
        }
        @include breakpoint(large) {
          flex-direction: column;

        }
        li{
          max-width: 100%;
          flex: 100%;
          min-height: auto;
          height: auto;
          max-height: inherit;
          @include breakpoint(small) {
            max-width: inherit;
            flex: auto;

            min-height: 22px;
            height: 22px;
            max-height: 55px;

          }
        }

      }


    }

    &-social{
      max-width: 100%;
      flex: 100%;
      order:1;
      justify-content: center;
      @include breakpoint(large) {
        max-width: 100%;
        flex: 100%;
        margin: 0;
        order: 3;
      }

      @include breakpoint(ultra) {
        max-width: 30.333%;
        flex: 30.333%;
        margin-right: 0%;

      }
      .social{
        display: flex;
        gap: 10%;
        margin: 0 0 29px;
        justify-content: center;
        @include breakpoint(small) {
          gap: 20%;


        }
        .socialListFooter{

          i {
            transition: 0.5s ease;
            &:hover {
              color: #FF7A00 !important;
              transition: 0.5s ease;

              &:before {
                color: #FF7A00 !important;
                transition: 0.5s ease;
              }
            }
          }

        }
      }
      .namad{
        display: flex;
        margin: 30px 0 0;
        justify-content: center;
        gap: 63px;
        @include breakpoint(large) {
          margin: 63px 0 0;


        }
        img{
          width: 100px;
        }



      }
    }
  }
}

.copyWrite {
  text-align: center;
  line-height: 25px;
  padding: 15px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #f5f5f5;

  @include breakpoint(small) {
    padding: 15px 0px;
  }

  p {
    color: #000;
  }

  a {
    color: #FF7A00;
    transition: 0.5s ease;
    &:hover{
      color: #ccc;
      transition: 0.5s ease;
    }

  }
}
