
.wallet{
  background: #fff;
  padding: 0 5%;



  &-block{
    display: flex;
    gap: 30px;
    padding: 5% 0 40px;
    background: #fff;
    flex-direction: column;


    @include breakpoint(small) {
      padding: 4% 0 ;

    }

    @include breakpoint(medium) {
      padding: 5% 0% ;
      flex-direction: row;
      gap: 50px;
    }
    @include breakpoint(xultra) {
      padding: 5% 10% ;
    }


    &__info{
      border-radius: 15px;
      flex: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
      height: 715px;
      @include breakpoint(medium) {
        flex: 40%;
        min-width: 40%;
        max-width: 40%;
        border: 1px solid #ccc;
        padding: 30px;

      }
      .desktopSileBar{
        display: none;
        @include breakpoint(medium) {

          display: block;
        }
        }
      .mobileSileBar{
        display: block;
        @include breakpoint(medium) {

          display: none;
        }
      }
    }
    &__content{
      border-radius: 15px;
      flex: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
      @include breakpoint(medium) {
        flex: 60%;
        min-width: 60%;
        max-width: 60%;
        padding: 50px 0;

      }
      .wallet-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 25px;
        @include breakpoint(medium) {
          justify-content: space-between;
        }

        h2{
          font-size: 20px;
          color: #F15A24;
        }
        i{
          cursor: pointer;
        }
      }
    }
    &__box{
      .amount{
        font-weight: 900;
        margin: 0 15px;
        color: #626262;
        font-size: 17px;
        padding: 7px 13px;
        border-bottom: 3px dashed #cccccc;
      }

    }
  }
}
.button-container {
  margin:40px 0 70px;
  direction: rtl;
  h4{
    margin: 0 0 20px;
  }
}
.amount-button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  width: 47%;
  @include breakpoint(medium) {
    width: auto;
  }

}
.active {
  background-color: #F15A24;
  color: white;
}
.input-container {
  margin: 30px 6px;
}
input[disabled] {
  opacity: 0.7;
}
.gateway-select {
  margin-top: 20px;
}
.gateway-options {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.gateway-item {
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  transition: all 0.3s ease;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.gateway-item:hover {
  border: solid 2px #bebebe;

}
.gateway-item.active {
  background-color: #fff;
  color: #f15a24;
  border-color: #626262;
}
.selected-gateway {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.payment-btn{

  width: 200px;
  background: #AAE73E!important;
  height: 54px!important;
  border-radius: 15px;
  border: 3px solid #fff;
  display: flex;
  padding:12px 7px!important;
  font-size: 18px;
  font-weight: 900;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 54px 0 0;
  transition: all 0.3s ease;

  &:hover{
    background: #fff;
    border: 3px solid #AAE73E;
    transition: all 0.3s ease;

  }
 &.v-btn--disabled {
    background-color: #cccccc!important;
    cursor: not-allowed;
   opacity: 0.5;
   &:hover {
     border: 3px solid #fff;

   }
  }
  .icon{
    width: 35px;
    height: 35px;
    background: #000;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
  }
  span{
    font-size: 16px;
    font-weight: 900;
    margin-left: 10px;
  }


}
::v-deep{
  .showList{
  max-width: 143px!important;
  max-height:50px!important;
}
.v-expansion-panel-header{
  padding: 0;
  border: 0;
  box-shadow: none;
}
  .v-expansion-panel::before{
    border: 0;
    box-shadow: none;
  }
  .v-expansion-panel-header__icon{
    display: none;
  }
  .v-expansion-panel-content{
    border: 1px solid #ccc;
    padding: 30px 6px 0 0 ;
  }


}
