.signIn{
  background: #EEE;
  padding: 5% 20px;
  @include breakpoint(medium) {
    padding: 5% 0;
  }
  .title{
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    h2{
      font-size: 23px;
      margin: 0 20px;
      color: #949494;
    }
  }

&-block{
  min-width:  100%;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;

  @include breakpoint(medium) {
    min-width: 600px;
    width: 600px;
  }

}
  &-box{
    width: 100%;
    margin: auto;

    @include breakpoint(medium) {
      width: 400px;
    }
  }
}
.code{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 20px;
  &.modify{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    @include breakpoint(medium) {
      flex-direction: row;
      align-items: flex-end;
    }

  }

  p{
    color: #FF7A00;
    text-align: right;
    width: 100%;
  }
}
.edit{
  display: flex;
  gap: 10px;
  color: #aae73e;
  font-weight: 900;
  cursor: pointer;
}

::v-deep{
  .v-btn{
    margin-top: 50px;
    i{
      width: 30px;
      height: 30px;
      background: #000;
      border-radius: 50px;
      line-height: 31px;
      font-size: 10px !important;
      &:before{
        color: #fff;
      }
    }
  }
  .v-otp-input{
    margin-top: 15px;
    .v-input__slot{
      border: solid 2px #bebebe;
      border-radius: 10px;
      font-size: 20px;
      height: 50px;
      min-height: 50px!important;
      fieldset{
        border: 0;
        min-height: 50px;
      }
    }
  }

}
